# === Compilados ===
target/
build/

# === Archivos de sistema ===
.DS_Store
Thumbs.db

# === IDEs ===
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath

# === Maven ===
.mvn/
!/.mvn/wrapper/maven-wrapper.jar

# === Gradle ===
.gradle/
gradle-app.setting
!gradle-wrapper.jar
gradle-wrapper.properties

# === Spring Boot ===
*.h2.db
*.mv.db
*.trace.db

# Archivos de configuración locales
application-local.properties
application-local.yml

# === Java ===
*.class

# === Cobertura / tests ===
jacoco.exec
coverage/

# === Packaging ===
*.jar
*.war
*.ear

# === Otros ===
*.zip
*.tar
*.gz


moodle_dbs/
*.log
